// FOR ALL PROJECTS -> Own resets by default

html, body {
    height: 100%;
}

body  {
    margin: 0;
    padding: 0;
    * {
        .box-sizing(border-box);
    }
}

body {
    background: #000 url(../img/bg_stadium.jpg) no-repeat 50% 0;
    background-attachment: fixed;
    background-size:100% 100%;
}

body {
    margin:auto;            /* you'll see why later */
    text-align:center;      /* to center align grid boxes */
    letter-spacing: -0.31em;/* webkit: collapse white-space between units */
    *letter-spacing: normal;/* reset IE < 8 */
    word-spacing: -0.43em;  /* IE < 8 && gecko: collapse white-space between units */
}

.iniesta {
    position: fixed;
    left: 0%;
}

.link {
    background: transparent url(../img/link.png) no-repeat 0 50%;
    padding-left: 10px;
    display: block;
}

.ranking-position {
    #font > .sans-serif(24px, normal);
    letter-spacing: -1px;
    span {
        #font > .serif(24px, normal);
    }
}
.grid-block {
    letter-spacing: normal; /* reset */
    word-spacing: normal;   /* reset */
    text-align:left;        /* reset */
    display:inline-block;   /* styling all grid-wrapper as inline blocks */
    vertical-align:top;     /* aligning those boxes at the top */
    *display:inline;        /* IE hack to mimic inline-block */
    zoom:1;                 /* part of the above hack for IE */
    width:100%;             /* boxes would shrink-wrap */
    max-width: 950px;
    .clearfix();        /* boxes would shrink-wrap */

    &.padding-block {
        padding: 10px;
        background: rgba(255,255,255,0.6);
    }

    section {
        .clearfix();
        background-color: @white;
        // .box-shadow(0px 1px 2px rgba(0,0,0,0.8));
        padding: @margin/2 @margin;
        &:first-child {
            min-height: 100px;
            margin-bottom: 10px;
        }
        &.home-video {
            position: relative;
            min-height: 290px;
            background: transparent url(../img/bg_video.jpg) no-repeat 40% 50%;
            p {
                .clearfix();
                position: absolute;
                top: 0;
                right: 0;
                width:40%;
                min-height: 290px;
                padding: @margin;
                color: @black;
                background: rgba(255,255,255,0.9);
                span {
                    #font > .serif(22px, normal, 1em);
                    letter-spacing: -1px;
                }
                a {
                    margin-top: @margin;
                }
            }
        }
        &.block-promo {
            position: relative;
            min-height: 170px;
            padding-left: 170px;
            padding-top: @margin;
            background: @white url(../img/t_shirts.jpg) no-repeat 100% 50%;
            p {
                #font > .serif(22px, normal, 1em);
                letter-spacing: -1px;
            }
			
        }
        &.block-pack {
            min-height: 290px;
            ul {
                li {
                    margin-bottom: 10px;
                    padding-left:45px;
                    padding-top: 5px;
                    line-height: 30px;
                    border: 1px solid #e5e5e5;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 10px 50%;
                    background-image: url(../img/switch_2.png);
                    .text-overflow();
                    &:first-child{
                        background-image: url(../img/switch_1.png);
                    }
                    &:last-child{
                        background-image: url(../img/switch_3.png);
                    }
                    img{
                        vertical-align: middle;
                    }
                    span {
                        display: inline-block;

                    }
                }
            }
        }
        &.block-code {
            min-height: 170px;
            form {
                input {
                    width: 80%;
                    margin: 0;
                    margin-top: 1px;
                }
                button {
                    width: 15%;
                    line-height: 1em;
                    padding: 8px 0 6px 0;
                }
            }
        }
    }
    article {
        .clearfix();
        position: absolute;
        top: 0;
        width :100%;
        height: 100%;
        padding-top: 190px;
    }
}
    .card {
        position: relative;
        .clearfix();
        min-height: 450px;
        padding: @margin;
        background-color: @white;
        .box-shadow(0px 1px 2px rgba(0,0,0,0.8));
        .link {
            float: right;
        }
        h5 {
            float: left;
            width: 25%;
            color: @black;
            #font > .serif(32px, normal, 1em);
            letter-spacing: -2px;
            text-transform: uppercase;
            span {
                #font > .sans-serif(32px, normal, 1em);
            }
        }
    }

    #section-bases {
        .card {
            background: @white url(../img/t_shirts_big.jpg) no-repeat 5% 50%;
        }
    }
    .card-content {
        float: right;
        width: 70%;
        height: 350px;
        overflow: auto;
        margin-top: @margin;
        button {
            padding: 5px 20px;
        }
    }

#packs-navigation {
    position: absolute;
    left: 0;
    top: 0;
    width:25%;
    .pack-nav {
        li {
            width: 100%;
            a {
                height: 225px;
                padding: @margin;
                color: @black;
                #font > .serif(32px, normal, 1em);
                letter-spacing: -2px;
                text-transform: uppercase;
            }
        }
    }
}

.packs-container {
    float: right;
    width: 100%;
    height: 350px;
    padding-left: 30%;
    overflow: auto;
    margin-top: @margin;
    > li {
        > ul {
            .clearfix();
            > li {
                float:left;
                width: 30%;
                padding: 3%;
                margin-right: 5%;
                margin-bottom: 5%;
                background-color: @grayDark;
                color: @grayNeutral;
                &:nth-child(3n+3) {
                    margin-right: 0%;
                }
                p {
                    margin: 0;
                    span {
                        #font > .serif(15px);
                    }
                    small {
                        float:left;
                        text-transform: uppercase;
                        .transform-origin (50%, 50%);
                        .rotate(-90deg);
                        font-size: 10px;
                    }
                    &.pack-reference {
                        font-size: 18px;
                        letter-spacing: -1px;
                    }
                }
                ul {
                    margin: 10px 0;
                }
            }
        }
    }
}




h3 {
    #font > .sans-serif(14px, normal, 1em);
    span {
        display: block;
        #font > .serif (38px, normal, 0.8em);
        letter-spacing: -2px;
        text-transform: uppercase;
    }
}

h4 {
    #font > .sans-serif(15px, normal, 1.5em);
    color: @white;
    text-transform: uppercase;
    margin: 0;
}

.main-container {
    height: 100%;
    width: 100%;
    max-width: 950px;
    margin: auto; 
}

#wrapper,
#contentinfo {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 950px;
    margin: auto; 
    .clearfix();
}

#wrapper {
    padding-top: 200px;
    z-index: 999;
}

#main {
    padding-right: 0px;
    .padding-block {
        &:first-child {
            padding-right: 0;
        }
    }
}

/**
 * rules below are meant to paint the boxes
 */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9999;
    #header {
        height: 210px;
        background: transparent url(../img/simon.png) no-repeat 0% 0;
        > a {
            float: right;
        }
    }
}

#main {
    // background: #ad9684;
}
#complementary {
    // background: #7a6351;
}
#aside {
    padding: 0;
    padding-left: @margin /2;
}

/**
 * 470
 */
@media only screen and (min-width: 240px) and (max-width: 699px) {
    header,
    #wrapper,
    #contentinfo{
        width: 94%;
        margin: 0 3%;
    }

    header {
        #header {
            padding-top: 50px;
            h1 {
                padding:0;
                padding-top: 70px;
                span {
                    font-size:45px;
                }
                small {
                    display: block;
                    clear: both;
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }

    #main {
        padding: 10px;
    }

    #complementary, #aside {
        margin-top: @margin;
    }

    #aside {
        width: 100%;
        clear: both;
        margin-top: @margin;
        margin-bottom: @margin;
        padding-left: 0;

        ul {
            float: left;
            width: 100%;
            li {
                float: left;
                width: 30%;
                margin-right: 5%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .card {
        h5 {
            width: 100%;
        }
    }

    #section-bases {
        .card {
            background: @white;
        }
    }

    .card-content {
        width: 100%;
    }

    #packs-navigation {
        width:100%;
        top: 50px;
        .pack-nav {
            li {
                width: 50%;
                a {
                    height: 100px;
                }
            }
        }
    }

    .packs-container {
        padding-left: 0;
        margin-top: 140px;
    }

    .iniesta {
        left: 70%;
    }

}


/**
 * 700
 */
@media only screen and (min-width: 700px) and (max-width: 949px) {
    #wrapper, 
    #header, 
    #contentinfo {
        margin: 0 3%;
        width: 94%;
    }
    header {
        #header {
            padding-top: 50px;
            h1 {
                padding:0;
                padding-top: 70px;
                small {
                    display: block;
                    clear: both;
                    margin: 0;
                    margin-top: 10px;
                }
            }
        }
    }

    #main {
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 65%;
    }
    #complementary {
        float: right;
        width: 35%;
    }

    #aside {
        width: 100%;
        clear: both;
        margin-top: @margin;
        margin-bottom: @margin;
        padding-left: 0;

        ul {
            float: left;
            width: 100%;
            li {
                float: left;
                width: 30%;
                margin-right: 5%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .iniesta {
        left: 80%;
    }
}

/**
 * 950
 */
@media only screen and (min-width: 950px) and (max-width: 1169px) {
    #wrapper {
        margin: auto;
        width: 100%;
        max-width: 950px;
    }
    #main {
        width: 55%;
    }
    #complementary {
        width: 25%;
    }
    #aside {
        width: 20%;
    }
}

/**
 * 1170
 */
@media only screen and (min-width: 1170px) and (max-width: 1189px) {

    #main,
    #complementary,
    #aside,
    #contentinfo {
        .clearfix();
//        float: left; /* display:inline here leads to rounding errors */
    }
    #main {
        width: 55%;
    }
    #complementary {
        width: 25%;
    }
    #aside {
        width: 20%;
    }
}

/**
 * 1190
 */
@media only screen and (min-width: 1190px) and (max-width: 1409px) {
    #main {
        width: 55%;
    }
    #complementary {
        width: 25%;
    }
    #aside {
        width: 20%;
    }
}

/**
 * 1410
 */
@media only screen and (min-width: 1410px) {
    // body {
    //     max-width: 1740px;
    // }
    // #wrapper {
    //     float: left;
    //     -webkit-box-sizing: border-box;
    //     -moz-box-sizing: border-box;
    //     box-sizing: border-box;
    //     border-right: solid 250px transparent;
    // }
    // #header {
    //     float: left;
    //     width:17%;
    //     margin-right: -17%;
    // }
    #main {
        width: 55%;
    }
    #complementary {
        width: 25%;
    }
    #aside {
        width: 20%;
    }
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 21, 2013 */



@font-face {
    font-family: 'futura_md_btbold';
    src: url('../fonts/futubd_-webfont.eot');
    src: url('../fonts/futubd_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futubd_-webfont.woff') format('woff'),
         url('../fonts/futubd_-webfont.ttf') format('truetype'),
         url('../fonts/futubd_-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futubk_-webfont.eot');
    src: url('../fonts/futubk_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futubk_-webfont.woff') format('woff'),
         url('../fonts/futubk_-webfont.ttf') format('truetype'),
         url('../fonts/futubk_-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

