{% extends 'contentinfo.twig' %}

{% set name = 'form' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block articlecontent %}
    <h5>Formulario enviado
        <hr/>
        <img src="web/img/sat.png" />
        <span>
            <a href="mailto:sat@simon.es">
                <img src="web/img/btn_sat.png" />
            </a>
        </span>
    </h5>

   {% set successMessage = 'Su registro se ha efectuado correctamente.' %}
   {% include 'forms/form_success_content.twig' with { 'packInfo' : false } %}

{% endblock%}
