<div class="card-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span12 bgcolor">
                        <div class="alert alert-success">
                            <p class="text-success">{{ successMessage|default('Su registro se ha efectuado correctamente, en breve un comercial de SIMON se pondrá en contacto con usted para hacerle entrega del premio elegido.')}}</p>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span4 lightblue">
                        <label><b>Nombre</b></label>
                            {{ user.name }}
                    </div><!--/span-->
                    <div class="span8 lightblue">
                        <label><b>Apellidos</b></label>
                            {{ user.surname }}
                    </div><!--/span-->
                </div><!--/row-->

                <div class="row-fluid">
                    <div class="span4 lightblue">
                        <label><b>Empresa</b></label>
                            {{ user.company }}
                    </div><!--/span-->
                    <div class="span4 lightblue">
                        <label><b>CIF/DNI</b></label>
                            {{ user.cif }}
                    </div><!--/span-->
                    <div class="span4 bgcolor">
                        <label><b>Población</b></label>
                            {{ user.city }}
                    </div><!--/span-->
                </div><!--/row-->

                <div class="row-fluid">
                    <div class="span8 bgcolor">
                        <label><b>Dirección</b></label>
                            {{ user.address }}
                    </div><!--/span-->
                    <div class="span4 bgcolor">
                        <label><b>Código Postal</b></label>
                            {{ user.postalCode }}
                    </div><!--/span-->
                </div><!--/row-->

                <div class="row-fluid">
                    <div class="span6 lightblue">
                        <label><b>E-Mail</b></label>
                        {{ user.email }}
                    </div><!--/span-->
                    <div class="span4 lightblue">
                        <label><b>Teléfono</b></label>
                            {{ user.telephone }}
                    </div><!--/span-->
                </div><!--/row-->

                {% if packInfo %}
                <div class="row-fluid">
                {% if user.codes[0].pack.type == 'tshirt' %}
                    <div class="span4 lightblue">
                        <label><b>Pack</b></label>
                        Camiseta
                    </div><!--/span-->
                    <div class="span4 lightblue">
                        <label><b>Talla</b></label>
                        {{ user.codes[0].pack.size }}
                    </div><!--/span-->
                    <div class="span4 lightblue">
                        <label><b>Equipo</b></label>
                        {{ user.codes[0].pack.getTeamName }}
                    </div><!--/span-->
                {% else %}
                    <div class="span4 lightblue">
                        <label><b>Pack</b></label>
                        Balón
                    </div><!--/span-->
                {% endif %}
                </div><!--/row-->
                {% endif %}
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/.fluid-container-->
</div>