{% extends 'contentinfo.twig' %}

{% set name = 'form' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block articlecontent %}

{% block leftside %}
<h5>Formulario
    <span>tu código</span>
    <span>{{ firstCode }}</span>
     {% if secondCode is defined and secondCode %}
        <span>y</span>
        <span>{{ secondCode }}</span>
    {% endif %}
    <img src="web/img/sat.png" />
    <span>
        <a href="mailto:sat@simon.es">
            <img src="web/img/btn_sat.png" />
        </a>
    </span>
</h5>
{% endblock %}

<div class="card-content">
    <div class="container-fluid">
        <form action={% block submitUrl %}"/cuestionario.html"{% endblock %} id="userform" method="POST">
            <div class="row-fluid">
                <div class="span12">
                    {% if error %}
                    <div class="row-fluid">
                        <div class="span12 bgcolor">
                            <div class="alert alert-error" id="userform-error">
                                <a href="#" class="close" data-dismiss="alert">×</a>
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label>Nombre</label>
                            {{ form_widget(userForm.name, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        <div class="span8 lightblue">
                            <label>Apellidos</label>
                            {{ form_widget(userForm.surname, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label>Empresa</label>
                            {{ form_widget(userForm.company, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        {% block cifField %}
                        <div class="span4 lightblue">
                            <label>CIF/DNI</label>
                            {{ form_widget(userForm.cif, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        {% endblock %}
                         <div class="span4 bgcolor">
                            <label>Población</label>
                            {{ form_widget(userForm.city, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                        <div class="span8 bgcolor">
                            <label>Dirección</label>
                            {{ form_widget(userForm.address, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        <div class="span4 bgcolor">
                            <label>Código Postal</label>
                            {{ form_widget(userForm.postalCode, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                        <div class="span4 lightblue">
                            <label>E-Mail</label>
                                                    {{ form_widget(userForm.email, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        <div class="span4 lightblue">
                            <label>Teléfono</label>
                            {{ form_widget(userForm.telephone, { attr : { class: 'span12', placeholder: ''} }) }}
                        </div><!--/span-->
                        <div class="span4 lightblue">
                            <label>Móvil (opcional)</label>
                            {{ form_widget(userForm.mobile, { attr : { class: 'span12', placeholder: ''} }) }}
                            {% block smsInfo %}
                            <p class="tooltip-text">Si nos dejas tu móvil te informaremos por SMS de tu posición en el ranking.</p>
                            {% endblock %}
                        </div><!--/span-->
                    </div><!--/row-->

                    {% block tshirt_radio%}
                    <div class="row-fluid">
                        <div class="span4 lightblue radio-container">
                            <label>Talla</label>
                            {% for size in userForm.codes[0].pack.size %}
                                <div class="radio inline">
                                     {{ form_widget(size) }}{{ form_label(size) }}
                                </div>
                            {% endfor %}
                        </div><!--/span-->
                        <div class="span8 lightblue radio-container">
                            <label>Equipo</label>
                            {% for team in userForm.codes[0].pack.team %}
                                <div class="radio inline">
                                     {{ form_widget(team) }}{{ form_label(team) }}
                                </div>
                            {% endfor %}
                        </div><!--/span-->
                    </div><!--/row-->
                    {% endblock%}

                    <div class="row-fluid">
                        <button type="submit">Enviar formulario</button>
                    </div><!--/row-->
                    <div class="row-fluid form-text">
                        <p>Le informamos que en cumplimiento de los dispuesto por la Ley Orgánica 15/1999, de13 de diciembre, de Protección de Datos de Carácter Personal, los datos que Usted nos facilite a través de los formularios de nuestra Página Web, serán incorporados en un fichero bajo responsabilidad de SIMON S.A.U. con la finalidad de gestionar sus peticiones, ofrecerle el mejor servicio personalizado e informarle puntualmente cualquier novedad relacionada con nuestros productos y servicios. Al proporcionar voluntariamente sus datos Usted consiente expresamente su tratamiento por parte de SIMON S.A.U. así como la cesión de los mismos a otras empresas del Grupo SIMON (SIMON LIGHTING, SAU y SIMON BRICO, SLU) única y exclusivamente para el cumplimiento de las finalidades anteriormente mencionadas. Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante petición escrita dirigida a la siguiente dirección de correo electrónico: <a href="mailto:sat@simon.es">sat@simon.es</a></p>
                        <p>Simon, S.A.U. - Diputación, 390-392 - 08013 Barcelona - Centralita: +34 902 109 100 - SAT: +34 902 109 700 - Fax: +34 933 440 803… CIF A-08078651. Inscrita en el Registro Mercantil de Barcelona, al tomo 20.842, folio 090, hoja número B-12955</p>
                    </div><!--/row-->
                </div><!--/span-->
            </div><!--/row-->

            {% block hidden_fields%}
                {{ form_widget(userForm.codes[0].code, { attr : { value: firstCode, class: 'hidden'} }) }}
                {{ form_widget(userForm.codes[0].pack.type, { attr : { class: 'hidden'} }) }}
                <input type="hidden" name="template" value="{{ template }}"/>
            {% endblock%}

        </form>

    </div><!--/.fluid-container-->
</div>

{% endblock%}
