{% extends 'contentinfo.twig' %}

{% set name = 'form' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block articlecontent %}
    <h5>Formulario
        <span>tu código</span>
        <span>{{ firstCode }}</span>
        {% if secondCode is defined and secondCode %}
            <span>y</span>
            <span>{{ secondCode }}</span>
        {% endif %}
        <hr />
        <img src="web/img/sat.png" />
        <span>
            <a href="mailto:sat@simon.es">
                <img src="web/img/btn_sat.png" />
            </a>
        </span>
    </h5>

   {% include 'forms/form_success_content.twig' with { 'packInfo' : true } %}

{% endblock%}
