{% extends 'contentinfo.twig' %}

{% set name = 'bases' %}

{% block title %}
    Todo sobre cómo puedes conseguir una experiencia única con Simon y Andrés Iniesta
{% endblock %}

{% block description %}
    Consulta las bases de la promoción Simon y Andrés Iniesta
{% endblock %}

{% block keywords %}
    Promoción Simon y Andrés Iniesta.
{% endblock %}

{% block articlecontent %}

<h5>Bases del sorteo<br/><br/>Balón nike</h5>
<div class="card-content" id="bases-content">
    <h6>BASES PROMOCIÓN "SIMON Y ANDRÉS INIESTA" SORTEO DE DIEZ "BALÓN NIKE FIRMADO POR ANDRÉS INIESTA"</h6>
    <p>SIMON, S.A.U. con CIF A-08078651 domiciliada en Barcelona, calle Diputación, 390-392 - 08013 Barcelona con el objeto de promocionar la marca “SIMON” ha decidido poner en marcha la presente promoción denominada “SIMON Y ANDRES INIESTA”, dentro del que se engloba el presente sorteo de diez “Balón Nike firmado por Andres Iniesta”.</p>
    <h6>1.- Ámbito Territorial de la promoción:</h6>
    <p>El ámbito de aplicación de esta promoción es todo el territorio nacional.</p>
    <h6>2.- Participantes:</h6>
    <p>El sorteo va dirigido a los instaladores profesionales autónomos de material eléctrico, y sociedades instaladoras de material eléctrico, mayores de edad y residentes en España.</p>
    <h6>3.- Premio:</h6>
    <p>El premio objeto de esta promoción son 10 balones Nike firmado por Andrés Iniesta.</p>
    <h6>4.- Duración:</h6>
    <p>La Campaña se iniciará el 1 de Febrero de 2013 a las 0.01h y finalizará el 30 de Abril de 2013 a las 23:59h.</p>
	<h6>5.- Fecha del sorteo:</h6>
	<p>La fecha del sorteo se celebrará el 10 de Junio de 2013 ante notario.</p>
    <h6>6.- Carácter gratuito:</h6>
	<p>La campaña no tendrá ningún coste para el participante siendo SIMON, S.A.U. quien asumirá los gastos de la misma.</p>
	<h6>7.- Mecánica de la promoción: </h6>
	<p>De entre los instaladores profesionales de material eléctrico que hayan rellenado el formulario de la campaña situado en los puntos de venta y lo hayan introducido en la urna correspondiente, se procederá a la realización de un sorteo para obtener diez ganadores de un balón firmado por Andrés Iniesta.</p>
	<p>Todos los formularios debidamente cumplimentados se extraerán a un fichero Excel donde se ordenarán según fecha de registro, asignándole un número correlativo empezando por el 1.</p>
	<p>El día del sorteo el notario seleccionará diez números al azar de entre todos los registros, así como otros diez números más en concepto de reserva, para el caso de no poder contactar con los ganadores en un plazo máximo de 72 horas desde la realización del sorteo.</p>
	<h6>8. – Como se publicitará la campaña: </h6>
	<p>La campaña se publicitará mediante material promocional en el punto de venta y en la web www.simoniniesta.com</p>
	<h6>9.- Forma en la que se va a adjudicar el premio: </h6>
	<p>El instalador premiado recibirá una llamada del departamento comercial de SIMON después de realizarse el sorteo ante notario y se le enviará el premio por mensajero.</p>
    <p>Es imprescindible que la persona haya indicado correctamente el teléfono y los datos de contacto. Si el teléfono o los datos de contacto no son correctos, la persona perderá el derecho al premio. Cualquier reclamación respecto al sorteo podrá realizarse hasta el 20 de Junio de 2013 por escrito dirigido al departamento de Marketing de Simon, S.A.U. Pasada esta fecha no se admitirá ninguna reclamación.</p>
	<h6>10.- CONDICIONES GENERALES: </h6>
    <p>10.1- Esta es una promoción válida sólo para instaladores y profesionales del material eléctrico, mayores de edad y residentes en España. </p>
    <p>10.2- Simon, S.A.U. se reserva del derecho de publicar el nombre del ganador en su Web, prensa, presentaciones o cualquier otro medio. </p>
	<p>10.3- Sólo habrá diez ganadores, correspondiéndole a cada uno un balón Nike firmado por Andrés Iniesta.</p>
	<p>10.4- La organización se reserva el derecho de modificar las bases del concurso, parcial o totalmente en cualquier momento, previo aviso. Asimismo se reserva el derecho de anularlo, dejar el premio desierto o revocarlo en caso de detectarse alguna irregularidad.</p>
	<p>10.5- SIMON se reserva el derecho de no incluir en el listado Excel formularios ilegibles, rotos o enmendados, no reglamentarios o que hayan sido obtenidos mediante fraude, robo o cualquier método que no respete las presentes normas.</p>
	<p>10.6- SIMON se reserva el derecho a anular registros para el sorteo cuyo CIF no corresponda a una empresa/autónomo instalador eléctrico.</p>
	<p>10.7- El regalo es personal e intransferible, siendo el titular del mismo el instalador profesional autónomo o, en su caso, el representante de la sociedad que se indique en el formulario.</p>
	<p>10.8- SIMON declina cualquier tipo de responsabilidad por los daños o reclamaciones producidas posteriormente con relación a los premios objeto de la presente reclamación.</p>
	<p>10.9- La mera participación en la promoción implica la aceptación incondicional de las presentes bases.</p>
	<p>10.10- Por el simple hecho de la aceptación de los premios, SIMON se reserva el derecho de informar del nombre de los ganadores, así como a utilizar su imagen en todas aquellas actividades relacionadas con los Premios, con fines publicitarios y de divulgación, sin que éstos tengan derecho a recibir pago o contraprestación alguna por ello. Por esta razón, los instaladores, por el mero hecho de participar en esta promoción, ceden a SIMON, SAU los derechos de su imagen (imagen, voz y representación gráfica) para su tratamiento a través de cualquier sistema y soporte que permita fijar, insertar, difundir, reproducir, divulgar, comunicar y explotar públicamente la imagen y voz del cedente con la imagen de SIMON, todo ello sin ningún tipo de limitación temporal ni territorial y sin que dé lugar a ningún tipo de remuneración o contraprestación por parte de SIMON.</p>
	<p>A estos efectos, las referencias que se hagan a “cualquier sistema y soporte” deben interpretarse de manera extensiva a cualquier medio que permita la fijación, reproducción, distribución y comunicación pública de la imagen y voz, del cedente (con carácter enunciativo, no limitativo, prensa, televisión, cine, Internet, dispositivos móviles), a utilizar el diseño de las imágenes y voz, en todo tipo de acciones publicitarias tales como prestaciones y eventos organizados por SIMON.</p>
	<p>10.11- SIMON  se reserva el derecho a modificar o ampliar estas bases, en cuyo caso se efectuará la correspondiente Acta notarial y se le dará el mismo grado de publicidad que a la presente promoción.</p>
	<p>10.12- SIMON quedará eximida de toda obligación o compensación con los particulares, si por causas de fuerza mayor o imperativo legal hubiera de ser anulado o suspendido la presente promoción, situación que se pondría convenientemente en conocimiento de los particulares.</p>
	<p>10.13- En el caso de detectar irregularidades en el comportamiento de los participantes, la organización se reserva el derecho de eliminar al participante.</p>
	<p>10.14- Los datos facilitados por los participantes, deberán ser veraces. Dado que los datos son esenciales para la participación en la presente promoción, en el caso de que los mismos fueran falsos, SIMON podrá eliminar el participante e incluso si resultare ganador de un premio de la presente promoción, no se la hará entrega del mismo.</p>
	<p>10.15- El mero hecho de participar en esta promoción implica la aceptación de las presentes bases sin reservas, y el criterio de SIMON en cuanto a la resolución de cualquier cuestión derivada de la promoción.</p>
	<p>10.16- El participante de la presente promoción exonera de la forma más amplia que en derecho proceda a SIMON de cualquier tipo de responsabilidad, sanción, reclamación, demanda o causa civil, mercantil, penal administrativa, incluyendo, por supuesto indemnizaciones de cualquier naturaleza y/o índole, gastos, costas (con expresa inclusión de los honorarios de Letrados y Procuradores).</p>
	<p>10.17- De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, los datos que el instalador facilite a través de los formularios, serán incorporados en un fichero bajo responsabilidad de SIMON S.A.U. con la finalidad de registrarse para participar en esta promoción, gestionar sus peticiones, ofrecerle el mejor servicio personalizado e informarle puntualmente cualquier novedad relacionada con nuestros productos y servicios. El instalador, al proporcionar voluntariamente sus datos, consiente expresamente su tratamiento por parte de SIMON S.A.U. así como la cesión de los mismos a otras empresas del Grupo SIMON (SIMON LIGHTING, SAU y SIMON BRICO, SLU) única y exclusivamente para el cumplimiento de las finalidades anteriormente mencionadas. Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante petición escrita dirigida a la siguiente dirección de correo electrónico: <a href="mailto:sat@simon.es">sat@simon.es</a></p>
	<p>10.18- SIMON se reserva el derecho a retirar o modificar la mecánica de la promoción a su entera discreción, para lo cual informará pertinentemente a través de los mismos medios en que se ha publicado la promoción y además, modificará las presentes bases si así lo considerase oportuno.</p>
	<p>10.19 Las bases de la promoción se rigen por las leyes de España.</p>	
</div>

{% endblock%}
