{% extends 'contentinfo.twig' %}

{% set name = 'bases' %}

{% block title %}
    Todo sobre cómo puedes conseguir una experiencia única con Simon y Andrés Iniesta
{% endblock %}

{% block description %}
    Consulta las bases de la promoción Simon y Andrés Iniesta
{% endblock %}

{% block keywords %}
    Promoción Simon y Andrés Iniesta.
{% endblock %}

{% block articlecontent %}

<h5>Bases del concurso</h5>
<div class="card-content" id="bases-content">
    <h6>Le invitamos a vivir una experiencia única con Andrés Iniesta</h6>
    <p>¿Le gustaría conocer personalmente a Andrés Iniesta?¿Está preparado para el encuentro de su vida?
SIMON, siempre con los mejores profesionales, le ofrece la oportunidad de vivir una experiencia increíble. 
Un premio muy especial sólo para 35 elegidos y sus acompañantes. Prepárese para disfrutar de un día 
inolvidable. ¡No desaproveche esta gran ocasión!</p>
    <h6>¿Cómo participar en la experiencia?</h6>
    <p>Acceso directo: Los 15 instaladores que más “pack camiseta” compren durante el periodo de la promoción tienen 
la experiencia asegurada. Podrá seguir su posición a través de www.simoniniesta.com </p>
    <p>Sorteo: Todos los instaladores que compren “pack camiseta” tendrán opción de participar en un sorteo ante notario de 20 pases.</p>
    <p>Para poder participar en la promoción tiene que dar de alta en la web www.simoniniesta.com el código que encontrará 
en el vale de los “pack camiseta”. Los 35 premiados podrán venir con un acompañante.
</p>
    <h6>Regalo seguro de una camiseta de Andrés Iniesta y un balón oficial de Nike</h6>
    <p>Por la compra de un “pack camiseta” llévese una camiseta oficial 
de Andrés Iniesta (Selección o Barça). </p>
    <p>Por la compra de un “pack balón” obtenga un balón oficial de la Liga, 
o si lo desea acumule 2 vales y canjéelos por una camiseta. </p>
	<p>Para conseguir los regalos entre en www.simoniniesta.com, introduzca el código 
que encontrará en el vale de los packs y rellene el formulario con sus datos personales. 
Nos pondremos en contacto con usted para la entrega.</p>
    
</div>

{% endblock%}
