{% extends 'layout.twig' %}

{% set name = 'form' %}

{% block title %}
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
    <div class="grid-block" id="contentinfo">
        <article id="section-{{ name }}">
            <div class="card {% block card_class %}{% endblock %}">
                <a href="index.php" class="back-to-home link">Ir al inicio</a>
                {% block articlecontent %}{% endblock%}
            </div>
        </article>
    </div>
{% endblock%}