{% extends 'forms/form_base.twig' %}

{% block title %}
    Canjea tu vale Simon por una camiseta de Andrés Iniesta o un balón reglamentario.
{% endblock %}

{% block description %}
    Con los packs Simon puedes conseguir una camiseta de Andrés Iniesta o un balón reglamentario Nike
{% endblock %}

{% block keywords %}
    pack simon 27 , simon 77, 500 CIMA
{% endblock %}

{% block hidden_fields%}
    {{ form_widget(userForm.codes[0].code, { attr : { value: firstCode, class: 'hidden'} }) }}
    {{ form_widget(userForm.codes[1].code, { attr : { value: secondCode, class: 'hidden'} }) }}

    {{ form_widget(userForm.codes[0].pack.type, { attr : { class: 'hidden'} }) }}
    <input type="hidden" name="template" value="{{ template }}"/>
{% endblock%}
