{% extends 'forms/form_base.twig' %}

{% block title %}
    Canjea tu vale Simon por una camiseta de Andrés Iniesta o un balón reglamentario.
{% endblock %}

{% block description %}
    Con los packs Simon puedes conseguir una camiseta de Andrés Iniesta o un balón reglamentario Nike
{% endblock %}

{% block keywords %}
    pack simon 27 , simon 77, 500 CIMA
{% endblock %}

{% block tshirt_radio%}
{% endblock%}