{% extends 'forms/form_base.twig' %}

{% block title %}
    Canjea tu vale Simon por una camiseta de Andrés Iniesta o un balón reglamentario.
{% endblock %}

{% block description %}
    Con los packs Simon puedes conseguir una camiseta de Andrés Iniesta o un balón reglamentario Nike
{% endblock %}

{% block keywords %}
    pack simon 27 , simon 77, 500 CIMA
{% endblock %}

{% block leftside %}
<h5>Formulario
    <span>Segundo sorteo tablet samsung galaxy 7</span>
    <span><img src="web/img/tablet.jpg" /></span>

    <img src="web/img/sat.png" />
    <span>
        <a href="mailto:sat@simon.es">
            <img src="web/img/btn_sat.png" />
        </a>
    </span>
</h5>
{% endblock %}

{% block submitUrl %}
    {{ '/cuestionario-tablet.html' }}
{% endblock %}


{% block cifField %}
{% endblock %}

{% block tshirt_radio%}
{% endblock%}

{% block smsInfo %}
{% endblock %}

{% block hidden_fields%}
{% endblock%}

