{% extends 'layout.twig' %}

{% block title %}Simon y Andrés Iniesta con los mejores profesionales.{% endblock %}

{% block description %}Simon te invita a vivir una experiencia única con Andrés Iniesta.{% endblock %}

{% block keywords %}
    Simon y Andrés Iniesta, camiseta Iniesta, camiseta selección, balón oficial liga, balón oficial Nike
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="wrapper">
    {% include 'modal.twig' %}
    <div class="grid-block padding-block" id="main">

		<section class="home-video">
			<div id="video">
        <iframe src="http://player.vimeo.com/video/58958464?title=0&amp;byline=0&amp;portrait=0" width="330" height="290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
			<div id="video1" style="display:none;">
        <iframe src="http://player.vimeo.com/video/58878977?title=0&amp;byline=0&amp;portrait=0" width="330" height="290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
			<div id="video2" style="display:none;">
        <iframe src="http://player.vimeo.com/video/58958464?title=0&amp;byline=0&amp;portrait=0" width="330" height="290" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
            <p>
                <span>¡Te invitamos a vivir una experiencia única con <strong>Andrés Iniesta.</strong></span>
                <a href="javascript:;" onclick='return playVideo("video2","video")' class="link">¡Ver el vídeo!</a>
                <a href="javascript:;" onclick='return playVideo("video1","video")' class="link">Cómo conseguirlo</a>
            </p>
        </section>

        <section class="block-promo">
            <p>Por la compra de un Pack, regalo seguro:
            <br />1 camiseta de <span>Iniesta</span>,
            <br />1 balón oficial Nike</p>
            <p><span>... y la posibilidad de vivir
                <br />una experiencia única con Andrés Iniesta.</span>
            </p>
			<a href="javascript:;" onclick='return playVideo("video1","video")' class="btn-video">¡Ver el vídeo!</a>
            <div class="margin-link">
                <a href="/web/bases.pdf" target="_blank" class="btn-bases link">Descubre cómo conseguirlo</a>
			</div>
        </section>
    </div>
    <div class="grid-block padding-block" id="complementary">
        <section class="block-pack">
            <img src="web/img/title_pack.png" />
            <ul class="unstyled">
                <li><img src="web/img/simon_black.png" /> <span>27</span></li>
                <li><img src="web/img/simon_black.png" /> 77</li>
                <li><img src="web/img/simon_black.png" /> 500 CIMA</li>
            </ul>
            <a href="pack_camiseta" class="btn-packs link">Packs camiseta</a>
			<a href="pack_balon" class="btn-packs link">Packs balón</a>
        </section>
        <section class="block-code">
            <form action="#" id="codeform" method="POST">
                <p>Introduce el</p>
                <p><i>código:</i>
                {{ form_widget(codeForm.code) }}
                {{ form_widget(codeForm._token) }}
                <button href="#section-form" class="btn-form">Ok</button>
                </p>
                <p>que encontrarás en el <br />rasca-rasca del pack</p>
            </form>

                <div class="row-fluid bgcolor hidden" id="codeform-error">
                    <div class="alert alert-error">
                        <a href="#" class="close" data-dismiss="alert">×</a>
                    </div>
                </div>

            </section>
        </div>
        <div class="grid-block" id="aside">
            <div class="news">
                <div class="fb-like-box" data-href="http://www.facebook.com/simonprofesional" data-width="244" data-height="400" data-show-faces="false" data-colorscheme="dark" data-stream="true" data-header="false"></div>
                <div class="margin-link">
                    <a href="bases" class="clear">Bases Promoción</a><br />
                    <a href="bases_tablet" class="clear">Bases sorteo 10 Tablets</a><br />
                    <a href="bases_balon" class="clear">Bases balón Nike</a>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
function playVideo(sourceId, targetId) {
   if (typeof(sourceId)=='string') {sourceId=document.getElementById(sourceId);}
   if (typeof(targetId)=='string') {targetId=document.getElementById(targetId);}
   targetId.innerHTML=sourceId.innerHTML;
   return false;
}
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/2517.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

{% endblock%}