<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!--[if lt IE 9]>
            <style>
            body {
                margin: auto;
                min-width: 850px;
                max-width: 1000px;
                _width: 900px;
            }
            #main {
                width: 55%;
            }
            #complementary {
                width: 25%;
                *margin-right: -1px; /* rounding error */
            }
            #aside {
                width: 20%;
            }
            #contentinfo {
                clear:both;
            }
            </style>
        <![endif]-->


        <link rel="stylesheet/less" type="text/css" href="../web/less/bootstrap.less" />

        <script src="../web/js/less.js" type="text/javascript"></script>
        <script src="../web/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <img src="../web/img/iniesta.png" class="iniesta" />
        <header>
            <div class="grid-block" id="header">
                <a href="#section-ranking" class="btn-ranking ranking">
                    <img src="../web/img/ranking.png" />
                </a>
            </div>
        </header>
        <div class="main-container">
            <div id="wrapper">
                <div class="grid-block padding-block" id="main">
                    <section class="home-video">
                        <p>
                            <span>¡Te invitamos a vivir una experiencia única con Andrés Iniesta!</span>
                            <a href="" class="link">¡Ver el vídeo!</a>
                            <a href="" class="link">¡Ver el vídeo!</a>
                        </p>

                    </section>
                    <section class="block-promo">
                        <p><a href="">Por la compra de un Pack</a>, regalo seguro de una camiseta de Iniesta o un balón oficial Nike</p>
                        <a href="#section-bases" class="btn-bases link">ver las bases</a>
                    </section>
                </div>
                <div class="grid-block padding-block" id="complementary">
                    <section class="block-pack">
                        <img src="../web/img/title_pack.png" />
                        <ul class="unstyled">
                            <li><img src="../web/img/simon_black.png" /> <span>27</span></li>
                            <li><img src="../web/img/simon_black.png" /> 77</li>
                            <li><img src="../web/img/simon_black.png" /> 500 CIMA</li>
                        </ul>
                        <a href="#section-packs" class="btn-packs link">ver packs</a>
                    </section>
                    <section class="block-code">
                        <img src="../web/img/title_code.png" />
                        <form action="#" id="codeform" method="POST">
                            {{ form_widget(codeForm.code) }}
                            {{ form_rest(codeForm) }}
                            <button href="#section-form" class="btn-form">Ok</button>
                        </form>
                        <!-- HERMES -->
                        <div class="row-fluid bgcolor hidden" id="codeform-error">
                            <div class="alert alert-error">
                                <a href="#" class="close" data-dismiss="alert">×</a>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="grid-block" id="aside">
                    <div class="news">
                        <h4>Noticias</h4>
                        <ul class="unstyled">
                            <li>
                                <h6>Slim System</h6>
                                <img src="../web/img/new01.jpg" />
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                <a href="" class="link">Leer más</a>
                            </li>
                            <li>
                                <h6>Nueva conferencia</h6>
                                <img src="../web/img/new02.jpg" />
                                <p>Integer tincidunt rhoncus sapien non porttitor...</p>
                                <a href="" class="link">Leer más</a>
                            </li>
                            <li>
                                <h6>Lorem Ipsum</h6>
                                <img src="../web/img/new03.jpg" />
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                <a href="" class="link">Leer más</a>
                            </li>
                        </ul>
                        <a href="" class="link">Ver todo</a>
                    </div>
                </div>
            </div>
            <div class="grid-block" id="contentinfo">
                <article id="section-packs">
                    <div class="card">
                        <a href="#" class="back-to-home link">Ir al inicio</a>
                        <div id="packs-navigation" class="navbar">
                            <div class="navbar-inner">
                            <div class="container">
                                <ul class="nav pack-nav">
                                    <li class="active"><a href="#packs-big" id="packs-big-link">Packs grandes</a></li>
                                    <li><a href="#packs-small">Packs pequeños</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <ul data-spy="scroll" data-target="#packs-navigation" class="unstyled packs-container">
                            <li id="packs-big">
                                <ul class="unstyled">
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Blanco</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko rpd</p>
                                        <ul class="pack-features unstyled">
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                        </ul>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Blanco</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko rpd</p>
                                        <ul class="pack-features unstyled">
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                        </ul>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Blanco</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko rpd</p>
                                        <ul class="pack-features unstyled">
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                        </ul>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Blanco</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko rpd</p>
                                        <ul class="pack-features unstyled">
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                        </ul>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Blanco</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko rpd</p>
                                        <ul class="pack-features unstyled">
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                            <li>50 Conmutadores</li>
                                        </ul>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                </ul>
                            </li>
                            <li id="packs-small">
                                <ul class="unstyled">
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                    <li>
                                        <p class="pack-name"><span>Pack 27</span> Marfil</p>
                                        <p class="pack-reference">
                                            <small>Ref. </small>
                                            2700970-030
                                        </p>
                                        <p class="pack-title">Schuko fm</p>
                                        <p class="pack-price"><span>945,90</span> / und</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- card packs-->
                </article>
                <article id="section-bases">
                    <div class="card">
                        <a href="#" class="back-to-home link">ir al inicio</a>
                        <h5>Bases del concurso</h5>
                        <div class="card-content" id="bases-content">
                            <h6>BASES PROMOCIÓN "SIMON Y ANDRÉS INIESTA" REGALO DIRECTO Y SORTEO EXPERIENCIA ANDRES INIESTA</h6>
                            <p>SIMON, S.A.U. con CIF A-08078651 domiciliada en Barcelona, calle Diputación, 390-392 - 08013 Barcelona con el objeto de promocionar la marca “SIMON” ha decidido poner en marcha la presente promoción denominada “SIMON Y ANDRES INIESTA”.</p>
                            <h6>1.- ÁMBITO GEOGRÁFICO</h6>
                            <p>El ámbito de aplicación de esta promoción es todo el territorio nacional y Andorra.</p>
                            <h6>2.- ÁMBITO TEMPORAL</h6>
                            <p>El plazo de la promoción comienza el 1 de Febrero de 2013 a las 0.01h y terminará el 30 de Abril de 2013 a las 23.59h. No obstante, se aceptarán registros de Vales hasta el 10 de Mayo de 2013.</p>
                            <h6>3.- PARTICIPANTES</h6>
                            <p>La promoción dirigida a todos los instaladores eléctricos profesionales ya sean autónomos o sociedades cuyo objeto social sea éste, mayores de edad y residentes en España y Andorra.</p>
                            <h6>4.- REGALO DIRECTO</h6>
                            <p>La promoción consiste en que por la compra de los packs que se describen a continuación, denominados “Pack Camiseta” y “Pack Balón”, se obtiene un vale que da derecho a conseguir o una camiseta de Andrés Iniesta o un balón Nike, según se describe a continuación.</p>
                            <p>Por la compra de un “Pack Camiseta” se obtiene un vale para conseguir una camiseta oficial de Andrés Iniesta a elegir entre la de la Selección Española de Fútbol o la de la Futbol Club Barcelona.</p>
                            <p>Por la compra de un Pack Balón se obtiene un vale para conseguir un balón oficial Nike.</p>
                            <p>Asimismo, cabe la posibilidad de acumular 2 vales y canjearlos por una camiseta oficial de Andrés Iniesta a elegir entre camiseta una de la Selección Española de Fútbol o la del Futbol Club Barcelona.</p>
                            <p>Al respecto, detallamos que productos de SIMON se incluyen en cada Pack para poder obtener los mencionados vales.</p>
                            <h6>“PACK CAMISETA”</h6>
                            <p>Ref. 2700980-030<br />Simon 27 Blanca (embornado rápido)<br />1.645,00 €</p>
                            <p>Ref. 2700980-031<br />Simon 27 Marfil (embornado rápido)<br />1.645,00 €</p>
                            <p>Ref. 2700981-030<br />Simon 27 Blanca (embornado tornillo)<br />1.648,00 €</p>
                            <p>Ref. 2700981-031<br />Simon 27 Marfil (embornado tornillo)<br />1.648,00 €</p>
                            <p>Ref. 2700981-031<br />Simon 27 Marfil (embornado tornillo)<br />1.648,00 €</p>
                            <p>Ref. 51000980-030<br />Simon 500 cima<br />1.573,67 €</p>
                            <p>Ref. 51000981-030<br />Simon 500 cima KIT<br />1.588,56 €</p>
                            <h6>“PACK BALÓN”</h6>
                            <p>Ref. 2700970-030<br />Simon 27 Blanca (embornamiento rápido)<br />945,90 €</p>
                            <p>Ref. 2700970-031<br />Simon 27 Marfil (embornamiento rápido)<br />945,90 €</p>
                            <p>Ref. 2700971-030<br />Simon 27 Blanca (embornamiento tornillo)<br />945,90 €</p>
                            <p>Ref. 2700971-031<br />Simon 27 Marfil (embornamiento tornillo)<br />945,90 €</p>
                            <p>Ref. 7700970-039<br />Simon 77<br />907,50 €</p>
                            <p>Ref. 51000970-030<br />Simon 500 Cima<br />853,00 €</p>
                            <h6>5.- MECÁNICA PARA LA OBTENCIÓN DE LOS REGALOS</h6>
                            <p>5.1.- Esta promoción está limitada a instaladores eléctricos profesionales.</p>
                            <p>5.2.- El instalador que compre uno o varios Packs de los descritos anteriormente obtendrá uno (o varios) vales y deberá registrarse en la Web WWW.SIMONINIESTA.COM o llamar al SAT 902 109 700.</p>
                            <p>Para registrarse deberá introducir con carácter obligatorio los siguientes campos (Nombre, Apellidos, Empresa, CIF o NIF, dirección completa, número de teléfono y e-mail) y teléfono móvil como campo opcional (necesario para poder recibir información sobre su posición en el ranking), además del número que aparece en la zona “rasca” del vale obtenido por la compra de los packs.</p>
                            <p>En el caso de los “Packs Balón”, el sistema permite introducir al mismo tiempo un segundo código para la obtención de una camiseta, en lugar de obtener el balón.</p>
                            <p>Una vez ya se haya introducido un primer código y se haya seleccionado el balón, no se podrá acumular a otro vale. Para obtener la camiseta deben introducirse los dos códigos simultáneamente.</p>
                            <p>5.3.- Una vez se haya registrado el instalador junto con el vale en la mencionada página web, el instalador recibirá un e-mail de confirmación y un comercial de SIMON le hará entrega del premio obtenido.</p>
                            <p>5.4- Los premios serán entregados por el equipo Comercial de Simon, que se comunicará directamente con el instalador. En el supuesto de que no pudiera contactar con el ganador en un plazo máximo de 48 horas desde la celebración del sorteo, utilizando los datos facilitados al efecto, el premio pasará al suplente correspondiente.</p>
                            <p>5.5- Los vales obtenidos en ningún caso podrán ser canjeados por dinero en metálico.</p>
                            <p>5.6- La oferta de regalos está limitada a la existencia de: 2.500 “PACK CAMISETA” y 2.500 “PACK BALÓN”.</p>
                            <p>5.7- Simon se reserva el derecho a ampliar el número de packs ofertados.</p>
                            <p>5.8- En caso de que algún regalo no esté disponible cuando se solicite, SIMON se reserva el derecho a suministrarlo en el tiempo prudencial necesario para la obtención del mismo.</p>
                            <p>En el momento de la entrega de los regalos, SIMON tendrá la facultad de solicitar la identidad de la persona que recoja el regalo, pudiendo SIMON no entregándolo si no es la misma que está indicada en la base de datos o tiene algún poder de representación de la misma.</p>
                            <h6>6.- SORTEO DE UNA EXPERIENCIA CON ANDRES INIESTA POR LA COMPRA DE UN PACK Camiseta</h6>
                            <p>6.1.- Además de lo anterior, SIMON sorteará entre todos los compradores de un “PACK CAMISETA” 20 plazas (titular y 1 acompañante) para vivir una experiencia con Andrés Iniesta en el Camp Nou en Barcelona.</p>
                            <p>6.2- El sorteo se realizará ante notario el 22 de mayo de 2013.</p>
                            <p>La lista de participantes se confeccionará por riguroso orden de introducción del código de cada vale (cuantos más vales se introduzcan, mayores posibilidades para ganar el sorteo).</p>
                            <p>El notario sacará 20 números ganadores y, seguidamente, escogerá otros 20 números como ganadores de reserva por si se diera el caso de que alguno de los ganadores no pudiera acceder al premio y cuyo funcionamiento será correlativo.</p>
                            <p>6.3-La lista de ganadores serán publicados en la Web de Simon.</p>
                            <p>6.4- Además, SIMON adjudicará 15 plazas con acompañante, directamente a las 15 empresas o industriales autónomos que más “PACK CAMISETA” hayan adquirido. El ranking se controlará mediante el CIF de cada uno (campo obligatorio en el formulario de inscripción).</p>
                            <h6>7.- CONDICIONES DE CARACTER GENERAL</h6>
                            <p>7.1- SIMON se reserva el derecho de no aceptar vales ilegibles, rotos o enmendados, no reglamentarios o que hayan sido obtenidos mediante fraude, robo o cualquier método que no respete las presentes normas.</p>
                            <p>7.2- Simon se reserva el derecho a anular registros para el sorteo cuyo CIF no corresponda a una empresa/autónomo instalador eléctrico.</p>
                            <p>7.3- El regalo es personal e intransferible, siendo el titular del mismo el instalador profesional autónomo o, en su caso, el representante de la sociedad que se indique en el momento de darse de alta en el registro de SIMON a través de su página web o SAT.</p>
                            <p>7.4- SIMON declina cualquier tipo de responsabilidad por los daños o reclamaciones producidas posteriormente con relación a los premios objeto de la presente reclamación.</p>
                            <p>7.5- La mera participación en la promoción implica la aceptación incondicional de las presentes bases.</p>
                            <p>7.6- Por el simple hecho de la aceptación de los premios, SIMON se reserva el derecho de informar del nombre de los ganadores, así como tu utilizar su imagen en todas aquellas actividades relacionadas con los Premios, con fines publicitarios y de divulgación, sin que éstos tengan derecho a recibir pago o contraprestación alguna por ello. Por esta razón, los instaladores, por el mero hecho de participar en esta promoción, ceden a SIMON, SAU los derechos de su imagen (imagen, voz y representación gráfica) para su tratamiento a través de cualquier sistema y soporte que permita fijar, insertar, difundir, reproducir, divulgar, comunicar y explotar públicamente la imagen y voz del cedente con la imagen de SIMON, todo ello sin ningún tipo de limitación temporal ni territorial y sin que dé lugar a ningún tipo de remuneración o contraprestación por parte de SIMON.</p>
                            <p>A estos efectos, las referencias que se hagan a “cualquier sistema y soporte” deben interpretarse de manera extensiva a cualquier medio que permita la fijación, reproducción, distribución y comunicación pública de la imagen y voz, del cedente (con carácter enunciativo, no limitativo, prensa, televisión, cine, Internet, dispositivos móviles), a utilizar el diseño de las imágenes y voz, en todo tipo de acciones publicitarias tales como prestaciones y eventos organizados por SIMON.</p>
                            <p>7.7- SIMON, SAU se reserva el derecho a modificar o ampliar estas bases, en cuyo caso se efectuará la correspondiente Acta notarial y se le dará el mismo grado de publicidad que a la presente promoción.</p>
                            <p>7.8- SIMON quedará eximida de toda obligación o compensación con los particulares, si por causas de fuerza mayor o imperativo legal hubiera de ser anulado o suspendido la presente promoción, situación que se pondría convenientemente en conocimiento de los particulares.</p>
                            <p>7.9- En el caso de detectar irregularidades en el comportamiento de los participantes, la organización se reserva el derecho de eliminar al participante.</p>
                            <p>7.10- Los datos facilitados por los participantes, deberán ser veraces. Dado que los datos son esenciales para la participación en la presente promoción, en el caso de que los mismos fueran falsos, SIMON podrá eliminar el participante e incluso si resultare ganador de un premio de la presente promoción, no se la hará entrega del mismo.</p>
                            <p>7.11- El mero hecho de participar en esta promoción implica la aceptación de las presentes bases sin reservas, y el criterio de SIMON en cuanto a la resolución de cualquier cuestión derivada de la promoción.</p>
                            <p>7.12- El participante de la presente promoción exonera de la forma más amplia que en derecho proceda a SIMON de cualquier tipo de responsabilidad, sanción, reclamación, demanda o causa civil, mercantil, penal administrativa, incluyendo, por supuesto indemnizaciones de cualquier naturaleza y/o índole, gastos, costas (con expresa inclusión de los honorarios de Letrados y Procuradores).</p>
                            <p>7.13- De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, los datos que el instalador facilite a través de los formularios de nuestra Página Web, serán incorporados en un fichero bajo responsabilidad de SIMON S.A.U. con la finalidad de registrarse para participar en esta promoción, gestionar sus peticiones, ofrecerle el mejor servicio personalizado e informarle puntualmente cualquier novedad relacionada con nuestros productos y servicios. El instalador, al proporcionar voluntariamente sus datos, consiente expresamente su tratamiento por parte de SIMON S.A.U. así como la cesión de los mismos a otras empresas del Grupo SIMON (SIMON LIGHTING, SAU y SIMON BRICO, SLU) única y exclusivamente para el cumplimiento de las finalidades anteriormente mencionadas. Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante petición escrita dirigida a la siguiente dirección de correo electrónico: sat@simon.es</p>
                            <p>7.14- SIMON queda exonerada de toda responsabilidad por el mal funcionamiento de las redes de comunicación electrónicas que impidan el normal desarrollo de la promoción por causas ajenas a la empresa y especialmente por actos externos de mala fe. Tampoco será responsable SIMON, SAU por los problemas de transmisión o pérdida de datos no imputables a la misma.</p>
                            <p>7.15- SIMON se reserva el derecho a retirar o modificar la mecánica de la promoción a su entera discreción, para lo cual informará pertinentemente a través de los mismos medios en que se ha publicado la promoción y además, modificará las presentes bases si así lo considerase oportuno.</p>
                            <p>7.16 Las bases de la promoción se rigen por las leyes de España.</p>
                        </div>
                    </div>
                </article>
                <article id="section-ranking">
                    <div class="card">
                        <a href="#" class="back-to-home link">ir al inicio</a>
                        <h5>Comprueba tu posición en el ranking</h5>
                        <div class="card-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                            <p class="ranking-position">Tu posición en el ranking es <span>#18</span></p>
                            <form class="form-inline">
                                <label>Código</label>
                                <input type="text" class="input-big" placeholder="Comprueba tu código">
                                <button type="submit">Sign in</button>
                            </form>
                        </div>
                    </div>
                </article>
                <article id="section-form">
                    <div class="card">
                        <a href="#" class="back-to-home link">ir al inicio</a>
                        <h5>Formulario
                            <span>tu código</span>
                            <span id="yourcode">C805062</span>
                            <hr />
                            <span>(+34) 902 109 700</span>
                            <span>sat@simon.es</span>
                        </h5>
                        <div class="card-content">
                            <div class="container-fluid">
                                <form action="#" id="userform" method="POST">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="row-fluid">
                                                <div class="span12 bgcolor">
                                                    <div class="alert alert-error hidden" id="userform-error">
                                                        <a href="#" class="close" data-dismiss="alert">×</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span4 lightblue">
                                                    <label>Nombre</label>
                                                    {{ form_widget(userForm.name, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                                <div class="span4 lightblue">
                                                    <label>Apellidos</label>
                                                    {{ form_widget(userForm.surname, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                                <div class="span4 lightblue">
                                                    <label>CIF/DNI</label>
                                                    {{ form_widget(userForm.cif, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                            </div><!--/row-->
                                            <div class="row-fluid">
                                                <div class="span8 bgcolor">
                                                    <label>Dirección</label>
                                                    {{ form_widget(userForm.address, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                                <div class="span4 bgcolor">
                                                    <label>Población</label>
                                                    {{ form_widget(userForm.city, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                            </div><!--/row-->
                                            <div class="row-fluid">
                                                <div class="span4 lightblue">
                                                    <label>E-Mail</label>
                                                    {{ form_widget(userForm.email, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                                <div class="span4 lightblue">
                                                    <label>Teléfono / Móvil</label>
                                                    {{ form_widget(userForm.telephone, { attr : { class: 'span12', placeholder: ''} }) }}
                                                </div><!--/span-->
                                                <div class="span4 lightblue radio-container">
                                                    <label>Talla</label>
                                                    <label class="radio inline checked">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> S
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> M
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> L
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> XL
                                                    </label>
                                                </div><!--/span-->
                                            </div><!--/row-->

                                            <input type="text" name="code" id="enteredCode" value="" class="hidden">

                                            <div class="row-fluid">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec nunc at elit ullamcorper bibendum in et erat. Ut malesuada eleifend est ac ultrices.</p>
                                            </div><!--/row-->
                                            <div class="row-fluid">
                                                <button href="#" class="btn-proccess-form">Enviar formulario</button>
                                            </div><!--/row-->
                                            <div class="row-fluid">
                                                <p>Le informamos que en cumplimiento de los dispuesto por la Ley Orgánica 15/1999, de13 de diciembre, de Protección de Datos de Carácter Personal, los datos que Usted nos facilite a través de los formularios de nuestra Página Web, serán incorporados en un fichero bajo responsabilidad de SIMON S.A.U. con la finalidad de gestionar sus peticiones, ofrecerle el mejor servicio personalizado e informarle puntualmente cualquier novedad relacionada con nuestros productos y servicios. Al proporcionar voluntariamente sus datos Usted consiente expresamente su tratamiento por parte de SIMON S.A.U. así como la cesión de los mismos a otras empresas del Grupo SIMON (SIMON LIGHTING, SAU y SIMON BRICO, SLU) única y exclusivamente para el cumplimiento de las finalidades anteriormente mencionadas. Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante petición escrita dirigida a la siguiente dirección de correo electrónico: <a href="mailto:sat@simon.es">sat@simon.es</a></p>
                                                <p>Simon, S.A.U. - Diputación, 390-392 - 08013 Barcelona - Centralita: +34 902 109 100 - SAT: +34 902 109 700 - Fax: +34 933 440 803… CIF A-08078651. Inscrita en el Registro Mercantil de Barcelona, al tomo 20.842, folio 090, hoja número B-12955</p>
                                            </div><!--/row-->
                                        </div><!--/span-->
                                    </div><!--/row-->
                                </form>

                            </div><!--/.fluid-container-->
                        </div>
                    </div>
                </article>
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../web/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <!-- Bootstrap components -->
        <script src="../web/js/bootstrap/bootstrap-scrollspy.js"></script>

        <!-- <script src="../web/js/jquery-ui-1.8.21.custom.min.js"></script> -->
        <!-- mousewheel plugin -->
        <!-- <script src="../web/js/jquery.mousewheel.min.js"></script> -->
        <!-- custom scrollbars plugin -->
        <!-- <script src="../web/js/jquery.mCustomScrollbar.js"></script> -->

        <!-- specific scripts -->
        <script src="../web/js/plugins.js"></script>
        <script src="../web/js/main.js"></script>

    </body>
</html>