<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <LINK REL=StyleSheet HREF="web/less/bootstrap.css" TYPE="text/css" MEDIA=screen>
            <!--
        <link rel="stylesheet/less" type="text/css" href="web/less/bootstrap.less" />
        <script src="web/js/less.js" type="text/javascript"></script>
    -->

        <script src="web/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <img src="web/img/iniesta.png" class="iniesta" />
        <header>
            <div class="grid-block" id="header">
                <a href="ranking.html" class="btn-ranking ranking">
                    <img src="web/img/ranking.png" />
                </a>
            </div>
        </header>
        <div class="main-container">
            {% block content %}{% endblock%}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="web/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <!-- Bootstrap components -->
        <script src="web/js/bootstrap/bootstrap-scrollspy.js"></script>
        <script src="web/js/bootstrap/bootstrap-modal.js"></script>

        <!-- Google analytics -->
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23712500-9']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>

        <!-- specific scripts -->
        <script src="web/js/plugins.js"></script>
        <script src="web/js/main.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 992305911;
            var google_conversion_label = "IH2aCMGCiwcQ98WV2QM";
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>

        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>

        <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992305911/?value=0&amp;label=IH2aCMGCiwcQ98WV2QM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    </body>
</html>