<form action="/admin/login_check" method="post">
        {{ error }}
        <label>Usuario</label>
        <input type="text" name="_username" value="{{ last_username }}" />
        <label>Contraseña</label>
        <input type="password" name="_password" value="" />
        <input type="submit" />
</form>
