<div>
    <h5>
        {% if secondCode %}
            Tus códigos <b>{{ firstCode }}</b> y <b>{{ secondCode }}</b> han sido canjeados.
        {% else %}
            Tu código <b>{{ firstCode }}</b> ha sido canjeado.
        {% endif%}
    </h5>
    {% include 'forms/form_success_content.twig' with { 'packInfo' : true } %}
</div>