<p>
    El código '{{ firstCode }}' ha sido validado.
</p>
<p>
    Si tienes otro código introducelo aquí y llévate una camiseta:
    <form action="/" onsubmit="submitSecondCode(this);return false;" method="POST">
        {{ form_widget(codeForm._token) }}
        <input type="hidden" name="first_code" value="{{ firstCode }}"/>

        {{ form_widget(codeForm.code, { attr: { style: 'margin: 10px'} }) }}
        <button type="submit" class="btn btn-large">Ok</button>

    </form>

    {% if error %}
        <div class="row-fluid bgcolor">
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        </div>
    {% endif %}
</p>
<p>
    Si no, ve al siguiente formulario y llévate un balón.
    <a href="cuestionario.html?codes[]={{ firstCode }}" class="btn">Continuar</a>
</p>
