<div id="codeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="codeModalLabel" aria-hidden="true" style="letter-spacing: normal; word-spacing: normal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="codeModalLabel">¿Tienes otro código de "pack balón"?</h5>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
</div>