{% extends 'contentinfo.twig' %}

{% set name = 'packs' %}

{% block title %}
    Consigue Packs Simon y vivir una experiencia única con Simon y Andrés Iniesta.
{% endblock %}

{% block description %}
    Por la compra de un pack Simon regalo seguro: una camiseta de Andrés Iniesta del Barça o de la Selección o un balón reglamentario Nike
{% endblock %}

{% block keywords %}
    Pack Simon 500 CIMA, packs Simon 77, Pack Simon 27
{% endblock %}

{% block card_class %}
    {{ 'card-pack' }}
{% endblock %}

{% block articlecontent %}

<div id="packs-title">
    <img src="web/img/pack_camiseta_title.png" />
</div>
<ul data-spy="scroll" data-target="#packs-navigation" class="unstyled packs-container">
    <li id="packs-big">
        <ul class="unstyled">
            <li>
                <p class="pack-name"><span>Pack 27</span> Blanco</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700980-030
                </p>
                <p class="pack-title">Embornamiento rápido</p>
                <ul class="pack-features unstyled">
                    <li>100 Conmutadores (27201-65)</li>
                    <li>150 Bases enchufe (27432-65)</li>
                    <li>200 Marco 1 (2700610-030)</li>
                    <li>50 Marco 2 (2700620-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.645€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 27</span> Marfil</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700980-031
                </p>
                <p class="pack-title">Embornamiento rápido</p>
                <ul class="pack-features unstyled">
                    <li>100 Conmutadores (27201-62)</li>
                    <li>150 Bases enchufe (27432-62)</li>
                    <li>200 Marco 1 (2700610-031)</li>
                    <li>50 Marco 2 (2700620-031)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.645€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 27</span> Blanco</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700981-030
                </p>
                <p class="pack-title">Embornamiento tornillo</p>
                <ul class="pack-features unstyled">
                    <li>100 Conmutadores (27201-65)</li>
                    <li>150 Bases enchufe (27472-65)</li>
                    <li>200 Marco 1 (2700610-030)</li>
                    <li>50 Marco 2 (2700620-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.648€</span></p>
            </li>
            <li style="clear:both">
                <p class="pack-name"><span>Pack 27</span> Marfil</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700981-031
                </p>
                <p class="pack-title">Embornamiento tornillo</p>
                <ul class="pack-features unstyled">
                    <li>100 Conmutadores (27201-62)</li>
                    <li>150 Bases enchufe (27472-62)</li>
                    <li>200 Marco 1 (2700610-031)</li>
                    <li>50 Marco 2 (2700620-031)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.648€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 77</span></p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    7700980-039
                </p>
                <p class="pack-title">Embornamiento por corte</p>
                <ul class="pack-features unstyled">
                    <li>100 Interruptores (7700101-039)</li>
                    <li>150 Conmutadores (7700201-039)</li>
                    <li>10 Cruces (7700251-039)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.633,70€</span></p>
            </li>

			<li>
                <p class="pack-name"><span>Pack kit 500 CIMA</span></p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    51000981-030
                </p>
                <ul class="pack-features unstyled">
                    <li>28 KIT pared superficie SAI 3 Mód. (51000302-030)</li>
                    <li>8 Cajetín empotrar 3 Mód. (51020103-039)</li>
                    <li>20 Base caja superficie 3 Mód. (51050003-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.588,56€</span></p>
            </li>

			<li style="padding-bottom:30px">
                <p class="pack-name"><span>Pack 500 CIMA</span></p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    51000980-030
                </p>
                <ul class="pack-features unstyled">
                    <li>13 caja de pared superfície 3 Mód. (51000003-030)</li>
                    <li>5 Cajetín empotrar 3 Mód. (51020103-039)</li>
                    <li>10 Marco empotrar 3 Mód. (51010103-030)</li>
					<li>40 Base doble blanco <br />(50010432-030)</li>
					<li>20 Base doble rojo <br />(50010432-037)</li>
					<li>60 Placa plana V&D para 1 conector (50000085-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 1.573,67€</span></p>
            </li>
        </ul>
    </li>


</ul>


{% endblock%}
