{% extends 'contentinfo.twig' %}

{% set name = 'packs' %}

{% block title %}
    Consigue Packs Simon y vivir una experiencia única con Simon y Andrés Iniesta.
{% endblock %}

{% block description %}
    Por la compra de un pack Simon regalo seguro: una camiseta de Andrés Iniesta del Barça o de la Selección o un balón reglamentario Nike
{% endblock %}

{% block keywords %}
    Pack Simon 500 CIMA, packs Simon 77, Pack Simon 27
{% endblock %}

{% block card_class %}
    {{ 'card-pack' }}
{% endblock %}

{% block articlecontent %}

<div id="packs-title">
    <img src="web/img/pack_balon_title.png" />
</div>
<ul data-spy="scroll" data-target="#packs-navigation" class="unstyled packs-container">

	<li id="packs-small">
        <ul class="unstyled">
            <li>
                <p class="pack-name"><span>Pack 27</span> Blanco</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700970-030
                </p>
                <p class="pack-title">Embornamiento rápido</p>
				<ul class="pack-features unstyled">
					<li>50 Conmutadores (27201-65)</li>
                    <li>100 Bases enchufe (27432-65)</li>
                    <li>100 Marco 1 (2700610-030)</li>
                    <li>30 Marco 2 (2700620-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 945,90€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 27</span> Marfil</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700970-031
                </p>
                <p class="pack-title">Embornamiento rápido</p>
                <ul class="pack-features unstyled">
					<li>50 Conmutadores (27201-62)</li>
                    <li>100 Bases enchufe (27432-62)</li>
                    <li>100 Marco 1 (2700610-031)</li>
                    <li>30 Marco 2 (2700620-031)</li>
                </ul>
                <p class="pack-price"><span>PVP 945,90€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 27</span> Blanco</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700971-030
                </p>
                <p class="pack-title">Embornamiento tornillo</p>
				<ul class="pack-features unstyled">
					<li>50 Conmutadores (27201-65)</li>
                    <li>100 Bases enchufe (27472-65)</li>
                    <li>100 Marco 1 (2700610-030)</li>
                    <li>30 Marco 2 (2700620-030)</li>
                </ul>
                <p class="pack-price"><span>PVP 947,90€</span></p>
            </li>
            <li style="clear:both">
                <p class="pack-name"><span>Pack 27</span> Marfil</p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    2700971-031
                </p>
                <p class="pack-title">Embornamiento tornillo</p>
				<ul class="pack-features unstyled">
					<li>50 Conmutadores (27201-62)</li>
                    <li>100 Bases enchufe (27472-62)</li>
                    <li>100 Marco 1 (2700610-031)</li>
                    <li>30 Marco 2 (2700620-031)</li>
                </ul>
                <p class="pack-price"><span>PVP 947,90€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack 77</span></p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    7700970-039
                </p>
                <p class="pack-title">Embornamiento por corte</p>
                <ul class="pack-features unstyled">
					<li>50 Interruptores (7700101-039)</li>
                    <li>100 Conmutadores (7700201-039)</li>
                </ul>
                <p class="pack-price"><span>PVP 907,50€</span></p>
            </li>
            <li>
                <p class="pack-name"><span>Pack kit 500 CIMA</span></p>
                <p class="pack-reference">
                    <small>Ref. </small>
                    51000970-030
                </p>
              	<ul class="pack-features unstyled">
					<li>15 KIT SAI 3 Mód. <br />(51000302-030)</li>
                    <li>10 Base caja superficie <br />(5105003-030)</li>
					<li>5 Cajetín empotrar <br />(51020103-039)</li>
                </ul>
                <p class="pack-price"><span>PVP 853€</span></p>
            </li>
        </ul>
    </li>


</ul>


{% endblock%}
