{% extends 'contentinfo.twig' %}

{% set name = 'ranking' %}

{% block title %}
    Comprueba tu posición para conseguir un día con Simon y Andrés Iniesta
{% endblock %}

{% block description %}
    Los instaladores que más packs hayan comprado tienen asegurada la experiencia Simon y Andrés Iniesta.
{% endblock %}

{% block keywords %}
    Packs Simon, packs camiseta Andrés Iniesta, pack camiseta selección.
{% endblock %}

{% block articlecontent %}
    <h5>Comprueba tu posición en el ranking</h5>
    <div class="card-content">
        <p>Introduce tu CIF para ver tu posición en el Ranking.</p>

    <form action="/ranking.html" class="form-inline" method="POST">
        <label>NIF/CIF</label>
        <input type="text" class="input-big" placeholder="Comprueba tu posición" name="cif">
        <button type="submit">OK</button>
    </form>

    {% if position is defined %}
        {% if position %}
        <p class="ranking-position">Tu posición en el ranking es <span>#{{ position }}</span> ({{ "now"|date("d/m/Y") }})</p>
            {% if position > 15 and position <= 25 %}
                {% if diff > 1 %}
            <p>Te faltan {{ diff }} packs camiseta para estar entre los {{ target }} primeros y asegurarte que vivirás una experiencia única con Andrés Iniesta.</p>
                {% else %}
            <p>Te falta 1 pack camiseta para estar entre los {{ target }} primeros y asegurarte que vivirás una experiencia única con Andrés Iniesta.</p>
                {% endif %}
            {% endif %}
        {% else %}
            <p class="ranking-position">Todavía no has introducido ningún código</span></p>
        {% endif %}
    {% endif %}


	<img src="web/img/sat.png" style="margin-top:30px;">
	<i><img src="web/img/btn_sat.png"></i>

  {% if position is defined %}
    <p style="font-size: 10px;margin-top: 5%">La posición definitiva en el ranking será validada al final de la promoción.</p>
  {% endif %}
</div>
{% endblock%}
