Empresa;Nombre;Apellidos;Direccion;C.P.;Ciudad;Email;Teléfono;Movil;Fecha registro;
{% for row in table %}{{ row['company'] }};{{ row['name'] }};{{ row['surname'] }};{{ row['address'] }};{{ row['postalCode'] }};{{ row['city'] }};{{ row['email'] }};{{ row['telephone'] }};{{ row['mobile'] }};{{ row['created_at'] }};
{% endfor %}