CIF/NIF;Total;Codigo;Empresa;Nombre;Apellidos;Direccion;C.P.;Ciudad;Email;Teléfono;Movil;Fecha registro;Semana;Área;Delegación;
{% for cif,user in table %}{% for row in user['users'] %}
{{ cif }};{{ '1' }};{{ row['code'] }};{{ row['company'] }};{{ row['name'] }};{{ row['surname'] }};{{ row['address'] }};{{ row['postalCode'] }};{{ row['city'] }};{{ row['email'] }};{{ row['telephone'] }};{{ row['mobile'] }};{{ row['used_at'] }};{{ row['used_at']|date('W') }};{{ row['zone'] }};{{ row['delegation'] }};
{% endfor %}{% endfor %}