<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lista de canjeos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!--[if lt IE 9]>
            <style>
            body {
                margin: auto;
                min-width: 850px;
                max-width: 1000px;
                _width: 900px;
            }
            #main {
                width: 55%;
            }
            #complementary {
                width: 25%;
                *margin-right: -1px; /* rounding error */
            }
            #aside {
                width: 20%;
            }
            #contentinfo {
                clear:both;
            }
            </style>
        <![endif]-->
        <style>
                body.admin-template {
                    background: white;
                    letter-spacing: normal;
                    word-spacing: normal;
                    padding: 40px;
                }

                .table tbody tr td:last-child {
                    width: 110px;
                }

                .toggler {
                    width: 30px;
                }

        </style>


          <LINK REL=StyleSheet HREF="/web/less/bootstrap.css" TYPE="text/css" MEDIA=screen>
            <!--
        <link rel="stylesheet/less" type="text/css" href="web/less/bootstrap.less" />
        <script src="web/js/less.js" type="text/javascript"></script>
    -->

        <script src="/web/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="admin-template">
        <div class="pull-right">
            <a href="/admin/logout">Salir</a>
        </div>

        {% block filter_selector %}
        <div class="btn-group">
            <a href="/admin/lista.html" class="btn {{ activeFilter is null ? 'active' : '' }}">Todos</a>
            <a href="/admin/lista.html?active=1" class="btn {{ activeFilter == 1 ? 'active' : '' }}">CIFs activos</a>
            <a href="/admin/lista.html?active=0" class="btn {{ activeFilter is not null and activeFilter == 0 ? 'active' : '' }}">CIFs pasivados</a>
        </div>
        {% endblock %}

        {% block list_selector %}
        <div class="btn-group">
            <a href="/admin/lista.html{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeList == 1 ? 'active' : '' }}">Camiseta + Experiencia</a>
            <a href="/admin/lista-camiseta.html{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeList == 2 ? 'active' : '' }}">Camiseta</a>
            <a href="/admin/lista-balon.html{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeList == 3 ? 'active' : '' }}">Balón</a>
            <a href="/admin/lista-tablet.html{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeList == 4 ? 'active' : '' }}">Tablet</a>
        </div>
        {% endblock %}

        <h5 class="left">{{ title }}</h5>

        {% block zone_selector %}{% endblock %}

        <table class="table table-bordered table-hover">
            <thead>
                {% block thead%}{% endblock %}
            </thead>
            <tbody>
                {% block tbody%}{% endblock %}
            </tbody>
        </table>

        <div class="pull-right well">
            <a href="{{ linkToExport}}" class="btn">Exportar</a>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.toggler').click(function () {
                    var toggler = $(this);
                    if (toggler.html() == '+') {
                        toggler.html('-')
                    } else {
                        toggler.html('+')
                    }
                    $('#' + toggler.attr('data-id')).toggle();
                })

            })
        </script>


    </body>
</html>