{% extends 'admin/layout.twig' %}

{% block filter_selector %}
{% endblock %}

{% block thead%}
<tr>
    <td>Empresa</td>
    <td>Nombre</td>
    <td>Apellidos</td>
    <td>Direccion</td>
    <td>C.P.</td>
    <td>Ciudad</td>
    <td>Email</td>
    <td>Teléfono</td>
    <td>Movil</td>
    <td>Fecha registro</td>
</tr>
{% endblock %}

{% block tbody%}
    {% for row in table %}
        <tr>
            <td>{{ row['company'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['surname'] }}</td>
            <td>{{ row['address'] }}</td>
            <td>{{ row['postalCode'] }}</td>
            <td>{{ row['city'] }}</td>
            <td>{{ row['email'] }}</td>
            <td>{{ row['telephone'] }}</td>
            <td>{{ row['mobile'] }}</td>
            <td>{{ row['created_at'] }}</td>
        </tr>
    {% endfor %}
{% endblock %}