{% extends 'admin/layout.twig' %}

{% block zone_selector %}
    <div class="btn-group">
        <a href="/admin/lista.html{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeZone == 'Todo' ? 'active' : '' }}">Todo</a>
        {% for zone in zones %}
            <a href="/admin/lista.html/{{zone}}{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeZone == zone ? 'active' : '' }}">Zona {{ zone }}</a>
        {% endfor %}
    </div>
    {% if delegations is defined %}
        <div class="btn-group">
            <a href="/admin/lista.html/{{activeZone}}{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeDelegation == 'Todo' ? 'active' : '' }}">Todo</a>
            {% for delegation in delegations %}
                <a href="/admin/lista.html/{{activeZone}}/{{delegation}}{{ activeFilter is not null ? '?active=' ~ activeFilter : ''}}" class="btn {{ activeDelegation == delegation ? 'active' : '' }}">{{ delegation }}</a>
            {% endfor %}
        </div>
    {% endif%}
{% endblock %}

{% block thead%}
<tr>
    <td></td>
    <td>Posición</td>
    <td>CIF/NIF</td>
    <td>Total</td>
</tr>
{% endblock %}

{% block tbody%}
    {% for cif,user in table %}
        <tr>
            <td class="span1"><a class="btn btn-small toggler" data-id="{{ cif }}">+</a></td>
            <td>{{ user['position'] }}</td>
            <td>{{ cif }}</td>
            <td>{{ user['total'] }}</td>
        </tr>
        <tr style="display:none" id="{{ cif }}">
            <td colspan="3">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <td>Codigo</td>
                            <td>Talla</td>
                            <td>Equipo</td>
                            <td>Empresa</td>
                            <td>Nombre</td>
                            <td>Apellidos</td>
                            <td>Direccion</td>
                            <td>C.P.</td>
                            <td>Ciudad</td>
                            <td>Email</td>
                            <td>Teléfono</td>
                            <td>Movil</td>
                            <td>Fecha registro</td>
                            <td>Semana</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in user['users'] %}
                            <tr>
                                <td>{{ row['code'] }}</td>
                                <td>{{ row['size'] }}</td>
                                <td>{{ row['team'] == 'barcelona' ? 'FC Barcelona' : 'Seleccion Española' }}</td>
                                <td>{{ row['company'] }}</td>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['surname'] }}</td>
                                <td>{{ row['address'] }}</td>
                                <td>{{ row['postalCode'] }}</td>
                                <td>{{ row['city'] }}</td>
                                <td>{{ row['email'] }}</td>
                                <td>{{ row['telephone'] }}</td>
                                <td>{{ row['mobile'] }}</td>
                                <td>{{ row['used_at'] }}</td>
                                <td>{{ row['used_at']|date('W') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>

    {% endfor %}
{% endblock %}

